---
- name: Check whether your OS is supported
  ansible.builtin.assert:
    quiet: true
    that:
      - ansible_os_family | lower in mcconfig__os_const.install_packages.keys() | list
    fail_msg: Your OS is not supported

- name: Install mc with apt
  ansible.builtin.apt:
    update_cache: "{{ mcconfig__pkg_cache_update }}"
    name: "{{ mcconfig__os_const.install_packages[ansible_os_family | lower] }}"
  when: ansible_os_family | lower == "debian" and mcconfig__install_mc

- name: Install mc with apk
  community.general.apk:
    update_cache: "{{ mcconfig__pkg_cache_update }}"
    name: "{{ mcconfig__os_const.install_packages[ansible_os_family | lower] }}"
  when: ansible_os_family | lower == "alpine" and mcconfig__install_mc

- name: Install mc with zypper
  community.general.zypper:
    update_cache: "{{ mcconfig__pkg_cache_update }}"
    name: "{{ mcconfig__os_const.install_packages[ansible_os_family | lower] }}"
  when: ansible_os_family | lower == "suse" and mcconfig__install_mc

- name: Install mc with pacman
  community.general.pacman:
    update_cache: "{{ mcconfig__pkg_cache_update }}"
    name: "{{ mcconfig__os_const.install_packages[ansible_os_family | lower] }}"
  when: ansible_os_family | lower == "archlinux" and mcconfig__install_mc

- name: Install mc with dnf
  ansible.builtin.dnf:
    update_cache: "{{ mcconfig__pkg_cache_update }}"
    name: "{{ mcconfig__os_const.install_packages[ansible_os_family | lower] }}"
  when: ansible_os_family | lower == "redhat" and mcconfig__install_mc

- name: Get information about home directory
  ansible.builtin.stat:
    path: "{{ item }}"
  register: mcconfig_home_directory_info
  loop: "{{ mcconfig__userdirs }}"

- name: Upload ini
  ansible.builtin.copy:
    src: ini
    dest: "{{ dirinfo.item }}/.config/mc/"
    owner: "{{ dirinfo.stat.pw_name }}"
    group: "{{ dirinfo.stat.gr_name }}"
    mode: "0640"
  loop: "{{ mcconfig_home_directory_info.results }}"
  loop_control:
    loop_var: dirinfo
    label: "{{ dirinfo.item }}"

- name: Upload panels.ini
  ansible.builtin.copy:
    src: panels.ini
    dest: "{{ dirinfo.item }}/.config/mc/"
    owner: "{{ dirinfo.stat.pw_name }}"
    group: "{{ dirinfo.stat.gr_name }}"
    mode: "0640"
  loop: "{{ mcconfig_home_directory_info.results }}"
  loop_control:
    loop_var: dirinfo
    label: "{{ dirinfo.item }}"

- name: Backup menu file
  ansible.builtin.copy:
    remote_src: true
    src: /etc/mc/mc.menu
    dest: "/etc/mc/mc.menu_{{ now(fmt='%y%m%d%H%M%S') }}"
    mode: "0644"
  when: ansible_os_family | lower == "debian"

- name: Create menu directory
  ansible.builtin.file:
    path: /etc/mc_menu.d
    state: directory
    mode: "0755"
  when: ansible_os_family | lower == "debian"

- name: Upload systemd service
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/systemd/system"
    mode: "0644"
  loop: ["mc-menu.service", "mc-menu.path"]
  notify: handler_restart_mcmenu
  when: ansible_os_family | lower == "debian"
